@charset "utf-8";
/* PetRecord */

.PetRecord{
    margin: 10px 0;
}
fieldset{
    border: 0;
    margin-top: 5px;
}
legend{
    display: flex;
    align-items: center;
}
legend p{
    margin-right: 25px;
}
label{
    display: flex;
    width: 100px;
    margin-left: 5px;
}
label input{
    margin-right: 5px;
}
.active legend p{
    margin-right: 10px;
}
.misc{
    display: flex;
    margin-top: 5px;
}
.misc p{
    margin-right: 30px;
}
.misc input{
    width: 300px;
    height: 150px;
    margin-top: 4px;

}
