@charset 'utf-8';
/* MyReservation */

.MyReservation .head_btn_left{
    border-bottom: 1px solid black;
}
.MyReservation .head_btn_right{
    border: 1px solid black;
    border-right: 0;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}
.MyReservation .head_btn_left button, .head_btn_right button{
    padding: 0 20px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}
