@charset "utf-8";
/* PetPage */

.PetPage{
    /* margin: 0 auto 90px; */
    margin-bottom: 90px;
}
.Header{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
    box-sizing: content-box;
}
.head_btn_left, .head_btn_right{
    display: flex;
    justify-content: center;
    width: 50%;
    box-sizing: content-box;
}
.PetPage .head_btn_left{
    border: 1px solid black;
    border-left: 0;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}
.PetPage .head_btn_right{
    border-bottom: 1px solid black;
}
.PetPage .head_btn_left button, .head_btn_right button{
    padding: 0 20px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}
.PetSelectWrap{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    width: 375px;
    margin: 0 auto 10px;
}
.PetSelectWrap .petImg{
    width: 80px;
    height: 80px;
    margin: 10px 20px;
    margin-left: 0;
    border-radius: 50%;
    overflow: hidden;
}
.PetSelectWrap .petImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.PetSelectWrap .addPets{
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    margin-left: 0;
    border-radius: 50%;
    background-color: #ebebeb;
}
.PetDetailBorder{
    width: 375px;
    margin: 0 auto;
}
